<!-- Four -->
<section id="four" class="wrapper style1 special fade-up" data-section-name="fade-up">

    <div class="container">
        <div class="box alt">
            <div class="row uniform">
                <div class="beta">
                    <div class="8u  8u(xsmall)" style="margin: 0 auto;"><span class="image fit"><img src="{{ p.img }}" alt="" /></span></div>
                </div>
                <div class="beta1">
                    <h2 style="padding-top: 15%;">{{ p.title|safe }}</h2>
                    <a href="{{ p.url }}" class="button special fit" style="width: 60%; margin: 0 auto;">{{ p.subtitle }}</a>
                </div>
{#                <section class="4u 6u(medium) 12u$(xsmall)">#}
{#                    <img src="" style="border-radius: 50px; width: 100px; height: 100px; margin: 0 auto; margin-bottom: 5px;">#}
{#                    <h3></h3>#}
{#                </section>#}
            </div>
        </div>
        <footer class="major">
            <ul class="copyright">
                <li>&copy; <a href="http://www.deskxd.com">DeskXD.</a> All rights reserved.</li><li><a href="/thanks">Thanks!</a></li>
            </ul>
        </footer>
    </div>

</section>