<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
    {% load static from staticfiles %}
	<head>
		<title>Turanga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">Turanga</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Download</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner" class="banner" data-section-name="banner">
					<div class="content">
						<header>
							<h2>TURANGA</h2>
							<p>激萌的画风、创意的玩点<br />
							更广阔、内容更丰富的魔幻战棋世界</p>
						</header>
						<span class="image"><img src="http://ww3.sinaimg.cn/large/006bwLnEgw1ewdlb4ztl0j30sg0sg4qp.jpg" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>
			<!-- One -->
				<section id="one" class="spotlight style1 bottom" data-section-name="bottom">
					<span class="image fit main"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1ewba81og6mj31bm0v9gsr.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>图兰卡</h2>
										<p>这才是战棋游戏！</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p style="text-align: justify;">贤卓公司处女作《图兰卡》，基于cocos-2d引擎深度开发，用独特的画风、创意的玩点，
                                        为玩家展示一个别具一格、内容丰富的魔法战棋世界。</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>紧张研发中，内测即将开放，敬请期待……</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>
            <!-- Two -->
				<section id="two" class="spotlight style3 left" data-section-name="left">
					<span class="image fit main bottom"><img src="http://ww4.sinaimg.cn/large/006bwLnEgw1ewba80ybimj33pi2fm1kx.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum felis blandit praesent sed augue</h2>
							<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>
			<!-- Three -->
				<section id="three" class="spotlight style2 right" data-section-name="right">
					<span class="image fit main"><img src="http://ww1.sinaimg.cn/large/006bwLnEgw1ewba81og6mj31bm0v9gsr.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum amet non magna accumsan</h2>
							<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>
			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up" data-section-name="fade-up">
                    <div class="container">
                        <header class="major" id="header-title">
                            <h2>Accumsan sed tempus adipiscing blandit</h2>
                        </header>
                        <div class="box alt">
                            <div class="row uniform">
                                <section class="4u 6u(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-area-chart"></span>
                                    <h3>Ipsum sed commodo</h3>
                                </section>
                                <section class="4u 6u$(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-comment"></span>
                                    <h3>Eleifend lorem ornare</h3>
                                </section>
                                <section class="4u$ 6u(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-flask"></span>
                                    <h3>Cubilia cep lobortis</h3>
                                </section>
                                <section class="4u 6u$(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-paper-plane"></span>
                                    <h3>Non semper interdum</h3>
                                </section>
                                <section class="4u 6u(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-file"></span>
                                    <h3>Odio laoreet accumsan</h3>
                                </section>
                                <section class="4u$ 6u$(medium) 12u$(xsmall)">
                                    <span class="icon alt major fa-lock"></span>
                                    <h3>Massa arcu accumsan</h3>
                                </section>
                            </div>
                        </div>
                        <footer class="major">
                            <ul class="copyright">
                                <li>&copy; DeskXD. All rights reserved.</li><li><a href="/thanks">Thanks!</a></li>
                            </ul>
                        </footer>
                    </div>
				</section>

			<!-- Five -->
{#				<section id="five" class="wrapper style2 special">#}
{#					<div class="container">#}
{#						<header>#}
{#							<h2>Magna faucibus lorem diam</h2>#}
{#							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>#}
{#						</header>#}
{#						<form method="post" action="#" class="container 50%">#}
{#							<div class="row uniform 50%">#}
{#								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>#}
{#								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>#}
{#							</div>#}
{#						</form>#}
{#					</div>#}
{#				</section>#}

            <!-- Footer -->
{#                <footer id="footer">#}
{#                    <ul class="icons">#}
{#                        <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>#}
{#                        <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>#}
{#                    </ul>#}
{#                    <ul class="copyright">#}
{#                        <li>&copy; DeskXD. All rights reserved.</li><li><a href="http://html5up.net">Thanks!</a></li>#}
{#                    </ul>#}
{#                </footer>#}


		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

            <!-- Mouse -->
            <script src="{% static 'assets/js/mouse/html5shiv.min.js' %}"></script>
            <script src="{% static 'assets/js/mouse/jquery.easing.1.3.js' %}"></script>
            <script src="{% static 'assets/js/mouse/scrollify.min.js' %}"></script>
            <script src="{% static 'assets/js/mouse/main.js' %}"></script>

            <script>
                var system = {
                    win: false,
                    mac: false,
                    xll: false,
                    ipad:false
                };
                //检测平台
                var p = navigator.platform;
                system.win = p.indexOf("Win") == 0;
                system.mac = p.indexOf("Mac") == 0;
                system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
                system.ipad = (navigator.userAgent.match(/iPad/i) != null)?true:false;
                //跳转语句
                if (system.win || system.mac || system.xll) {
                    $(function () {
                        var H = $(window).height();
                        document.getElementById('four').style.height = H + 'px';

                        $(function() {
                            $.scrollify({
                                section : "section",
                                easing: "easeOutExpo",
                                scrollSpeed: 1100,
                                offset : 0,
                                scrollbars: true,
                                before:function() {},
                                after:function() {}
                            });
                        });
                    });

                    $(window).resize(function () {
                        var H = $(window).height();
                        document.getElementById('four').style.height = H + 'px';
                    });
                }
            </script>

	</body>
</html>