<!-- One -->
<section id="one" class="spotlight style1 bottom" data-section-name="bottom">
    <span class="image fit main"><img src="{{ p.img }}" alt="" /></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="4u 12u$(medium)">
                    <header>
                        <h2>{{ p.title|safe }}</h2>
                        <p>{{ p.subtitle|safe }}</p>
                    </header>
                </div>
                <div class="4u 12u$(medium)">
                    <p style="text-align: justify;">{{ p.text|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>