<!-- Two -->
<section id="two" class="spotlight style3 left" data-section-name="left">
    <span class="image fit main bottom"><img src="{{ p.img }}" alt="" /></span>
    <div class="content">
        <header>
            <h2>{{ p.title|safe }}</h2>
            <p>{{ p.subtitle|safe }}</p>
        </header>
        <p style="text-align: justify;">{{ p.text|safe }}</p>
        <ul class="actions">
            <li><a href="{{ p.url }}" class="button">More</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>