<!DOCTYPE HTML>
<html>
	{% load static from staticfiles %}
    {% load i18n %}
	<head>
		<title>Turanga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
        <style>
            .ds-sync{
                display: none !important;
            }
        </style>
	</head>
	<body class="landing">
		<div id="page-wrapper">

            <script>
                function changelang(){
                    myform = document.getElementById('langform');
                    myform.submit();
                }
                function launch(object){
                    var a = $(object).text();
                    var count=$("#language option").length;
                    for(var i=0;i<count;i++)
                    {
                        if($("#language").get(0).options[i].text == a)
                        {
                            $("#language").get(0).options[i].selected = true;
                            break;
                        }
                    }
                    changelang()
                }
            </script>
            <form name="langform" action="/i18n/setlang/" id="langform" method="POST" style="margin-bottom: 0px; letter-spacing: 0.25em;">
                {% csrf_token %}
                <select id="language" name="language" onchange="changelang()" style="display: none;">
                    <option value="" selected>{% trans lang %}</option>
                    {% for lang in LANGUAGES %}
                       <option value="{{ lang.0 }}" >{% trans lang.0 %}</option>
                    {% endfor %}
                </select>
            </form>

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">{% trans "图兰卡" %}</a></h1>
					<nav id="nav">
						<ul>
							{% for m in menu_list %}
                                <li>
                                    {% if m.id == 3 %}
                                        <a href="{{ m.url }}">{{ m.name }}</a>
                                        <ul>
                                            {% for l in LANGUAGES %}
                                                <li>
                                                    <a onclick="launch(this)" {% if l.0 == lang %}style="color: #e97770; text-align: center;"{% else %}style="text-align: center;"{% endif %}>{% trans l.0 %}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <a href="{{ m.url }}">{{ m.name }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
							<li><a href="/beta" class="button special">{% trans "参与内测" %}</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
                        <header class="major" style="margin-bottom: 20px;">
							<h2>申请内测</h2>
						</header>
                        <section>
                            <div class="6u 12u$(xsmall)" style="margin: 0 auto; margin-top: 15%;">
                                <h3 style="text-align: center;">感谢您的参与！</h3>
                                <h3 style="text-align: center; margin-bottom: 15%; font-size: 14px;">如果还没有开始下载，请点击<a href="{{ download_url }}" style="color: #e76278;">立即下载</a></h3>
                            </div>
                        </section>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; <a href="http://www.deskxd.com">DeskXD.</a> All rights reserved.</li><li><a href="/thanks">Thanks!</a></li>
					</ul>
                    <div style="display: none;"><span id="busuanzi_container_page_pv">此测试版游戏已下载<span id="busuanzi_value_page_pv"></span>次</span></div>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
            <script type="text/javascript">
                $(function () {
                    var downurl="/static/json/android.json";
                    $.getJSON(downurl, function(data){
                        download_url = data.url;
                        window.open(download_url);
                    });
                });
            </script>
            <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>
	</body>
</html>