<!DOCTYPE HTML>
<html>
	{% load static from staticfiles %}
    {% load i18n %}
	<head>
		<title>Turanga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
        <style>
            .ds-sync{
                display: none !important;
            }
        </style>
	</head>
	<body class="landing">
		<div id="page-wrapper">

            <script>
                function changelang(){
                    myform = document.getElementById('langform');
                    myform.submit();
                }
                function launch(object){
                    var a = $(object).text();
                    var count=$("#language option").length;
                    for(var i=0;i<count;i++)
                    {
                        if($("#language").get(0).options[i].text == a)
                        {
                            $("#language").get(0).options[i].selected = true;
                            break;
                        }
                    }
                    changelang()
                }
            </script>
            <form name="langform" action="/i18n/setlang/" id="langform" method="POST" style="margin-bottom: 0px; letter-spacing: 0.25em;">
                {% csrf_token %}
                <select id="language" name="language" onchange="changelang()" style="display: none;">
                    <option value="" selected>{% trans lang %}</option>
                    {% for lang in LANGUAGES %}
                       <option value="{{ lang.0 }}" >{% trans lang.0 %}</option>
                    {% endfor %}
                </select>
            </form>

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">{% trans "图兰卡" %}</a></h1>
					<nav id="nav">
						<ul>
							{% for m in menu_list %}
                                <li>
                                    {% if m.id == 3 %}
                                        <a href="{{ m.url }}">{{ m.name }}</a>
                                        <ul>
                                            {% for l in LANGUAGES %}
                                                <li>
                                                    <a onclick="launch(this)" {% if l.0 == lang %}style="color: #e97770; text-align: center;"{% else %}style="text-align: center;"{% endif %}>{% trans l.0 %}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <a href="{{ m.url }}">{{ m.name }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
							<li><a href="/beta" class="button special">{% trans "参与内测" %}</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major" style="margin-bottom: 20px;">
							<h2>{% trans '申请内测' %}</h2>
						</header>
                        <h3 style="text-align: center;">{% trans '请选择您的设备' %}</h3>
                        <p style="text-align: center; font-size: 0.8em; color: white; margin-bottom: 0px;">{% trans '推荐平台：iOS 8.0 + 或 Android 4.0 +' %}</p>
                        <p style="text-align: center; font-size: 0.8em; color: white; margin-bottom: 20px;">({% trans '平板电脑亦可参与体验' %})</p>
						<!-- Content -->
							<section>
                                <div class="row">
                                    {% for p in platforms_list %}
                                        <div class="6u 12u$(xsmall)" style="margin: 0 auto; text-align: center;">
                                            <div class="2u  2u(xsmall)" style="margin: 0 auto; margin-bottom: 20px;">
                                                <span class="image fit"><img src="{{ p.img }}" alt="" /></span>
                                            </div>
                                            <div style="margin-top: 40px; margin-bottom: 40px;">
                                                <a href="{{ p.url }}" class="dbutton" style="margin: 0 auto; width: 50%; margin-bottom: 20px; margin-top: 20px; ">{% trans '当前版本' %}:{{ p.version }}</a>
                                            </div>
                                            <div id="vpc">
                                                <p>{% trans '版本信息' %}</p>
                                                {% for m in p.versioninfo %}
                                                    {% if m.version == p.newversion.version %}
                                                        <div style="clear: both;">
                                                            <div class="vtitle">{{ m.version }}</div>
                                                            <div class="first-body">
                                                                <pre style="margin-bottom: 0px;">{{ m.info }}</pre>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div style="clear: both;">
                                                            <div class="vtitle">{{ m.version }}</div>
                                                            <div class="important-body">
                                                                <pre style="margin-bottom: 0px;">{{ m.info }}</pre>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% if p.newversion %}
                                            <div id="vmobile">
                                                <p style="text-align: center;">{% trans '版本信息' %}</p>
                                                <p style="margin-bottom: 0; color: #e76278; font-size: 20px;">{{ p.newversion.version }}</p>
                                                <pre>{{ p.newversion.info }}</pre>
                                            </div>
                                        {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
							</section>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; <a href="http://www.deskxd.com">DeskXD.</a> All rights reserved.</li><li><a href="/thanks">Thanks!</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>