<!DOCTYPE HTML>
<html>
	{% load static from staticfiles %}
	<head>
		<title>Turanga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
        <style>
            .ds-sync{
                display: none !important;
            }
        </style>
	</head>
	<body class="landing">
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="/">图兰卡</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">首页</a></li>
                            <li><a href="/thanks">鸣谢</a></li>
{#							<li><a href="#">下载</a></li>#}
{#                          <li><a href="#">关于</a></li>#}
							<li><a href="/beta" class="button special">参与内测</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major" style="margin-bottom: 20px;">
							<h2>申请内测</h2>
						</header>
                        <h3 style="text-align: center;">请选择您的设备</h3>
						<!-- Content -->
							<section>
                                <div class="row">
                                    <div class="6u 12u$(xsmall)" style="margin: 0 auto; text-align: center;">
                                        <div class="2u  2u(xsmall)" style="margin: 0 auto; margin-bottom: 20px;">
                                            <span class="image fit"><img src="{% static 'images/ios.png' %}" alt="" /></span>
                                        </div>
{#                                        <a class="version" style="text-align: center;">iOS</a>#}
                                        <div style="margin-top: 40px; margin-bottom: 40px;">
                                            <a href="/beta/ios" class="dbutton" style="margin: 0 auto; width: 50%; margin-bottom: 20px; margin-top: 20px; ">当前版本：{{ ios_v }}</a>
                                        </div>
                                        <p style="text-align: center; font-size: 0.8em; color: white;">兼容性：需要iOS 8.0或更高版本。与iPhone、iPad、iPod touch兼容。</p>
                                    </div>
                                    <div class="6u 12u$(xsmall)" style="margin: 0 auto; text-align: center;">
                                        <div class="2u  2u(xsmall)" style="margin: 0 auto; margin-bottom: 20px;">
                                            <span class="image fit"><img src="{% static 'images/az.png' %}" alt="" /></span>
                                        </div>
{#                                        <a class="version" style="text-align: center;">Android</a>#}
                                        <div style="margin-top: 40px; margin-bottom: 40px;">
                                            <a href="/beta/android" class="dbutton" style="margin: 0 auto; width: 50%; margin-bottom: 20px; margin-top: 20px; ">当前版本：{{ android_v }}</a>
                                        </div>
                                        <p style="text-align: center; font-size: 0.8em; color: white;">兼容性：需要Android 4.0或更高版本。与三星S3及相同性能或性能更高的安卓设备兼容。</p>
                                    </div>
                                </div>
							</section>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; <a href="http://www.deskxd.com">DeskXD.</a> All rights reserved.</li><li><a href="/thanks">Thanks!</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>