<!DOCTYPE HTML>
<html>
	{% load static from staticfiles %}
	<head>
		<title>Turanga</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
		<!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
	</head>
	<body class="landing" style="background: #f0f0f0 !important;">
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1 id="logo" style="color:#000000;"><a href="/">图兰卡</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/" style="color:#000000;">首页</a></li>
{#							<li><a href="#" style="color:#000000;">下载</a></li>#}
{#                          <li><a href="#" style="color:#000000;">关于</a></li>#}
							<li><a href="http://turanga.deskxd.com/testing/" class="button special">申请内测</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major" style="margin-bottom: 0px;">
							<h2 style="color: #000000;">THANKS</h2>
						</header>

						<!-- Content -->
							<section>
                                <div class="table-wrapper">
                                    {% for p in group_list %}
                                        <table style="margin-top: 50px;">
                                            <thead>
                                                <tr>
                                                    <td align="center"><h3 style="color: #000000;">{{ p.group }}</h3></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for t in p.thanks_list %}
                                                    <tr>
                                                        <td align="center">
                                                            <div>
                                                                <a href="{{ t.url }}" title="{{ t.name }}">
                                                                    <span class="image fit">
                                                                        {% if t.img != "none" %}
                                                                            <img src="{{ t.img|safe }}" alt="" />
                                                                        {% else %}
                                                                            {{ t.name }}
                                                                        {% endif %}
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endfor %}
                                </div>
                                <div class="box alt">
                                    <h3 style="color: #000000;">特别鸣谢</h3>
									<div class="row 50% uniform">
                                        {% for v in vthankss %}
                                            <div class="4u  6u(xsmall)">
                                                <a href="{{ v.url|safe }}" title="{{ v.name|safe }}"><span class="image fit"><img src="{{ v.img|safe }}" alt="" /></span></a>
                                            </div>
                                        {% endfor %}
									</div>
								</div>
							</section>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; <a href="http://www.deskxd.com">DeskXD.</a> All rights reserved.</li><li><a href="/thanks">Thanks!</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>